<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Node.js upload multiple files</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <style>
    div.preview-images>img {
      width: 30%;
    }
  </style>
</head>

<h1>Uploaded Images</h1>
    <div>
        <% if (items) items.forEach(function(image) { %>
            <div>
                <div>
                    <img src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>">
                    <div>
                        <h5>
                            <%= image.name %>
                        </h5>


                        <p>
                            <%= image.desc %>
                        </p>


                    </div>
                </div>
            </div>
            <% }) %>
    </div>